<h4><%= events_headline %></h4>
<% events.each do |event| %>
    <p>
        <%= event.name %>
        <span class="badge badge-info"><%= PLACE_ID_ARRAY[event.place_id] %></span>
        <span class="badge badge-info"><%= @entry_datetime_hash[event.id] %></span>
        <span class="badge badge-info"><%= @event_datetime_hash[event.id] %></span>
    </p>
    <p>主催者名:<%= event.account_expanded.name %></p>
    <p>参加上限:<%= event.participant_limit %></p>
    <p>開催地住所:<%= event.address %></p>
    <p>開始日時:<%= event.event_start_datetime %></p>
    <p>終了日時:<%= event.event_end_datetime %></p>
    <a class="btn btn-primary" href="/events/<%= event.id %>" role="button">閲覧ページを表示</a>
    <a class="btn btn-primary" href="/events/edit/<%= event.id %>" role="button">編集</a>
    <hr/>
<% end %>