<!DOCTYPE html>
<html>
  <head>
    <title>EventApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.css"/>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <h1>EventApp</h1>
    <h2><%= @subtitle %></h2>
    <h3><%= @description %></h3>
    <%= yield %>
    <footer class="page-footer font-small blue pt-4">
      <div class="row">
        <p>© 2020 Copyright:EventApp</p>
      </div>
    </footer>
  </body>
</html>
